/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #828282; /* Cambia el color de fondo */
    color: #333;
}

.navbar {
    background-color: #828282;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex; /* Usa flexbox */
    justify-content: center; /* Centra horizontalmente */
}

.navbar a {
    display: inline-block; /* Hace que los elementos del menú sean en línea */
    color: white;
    text-align: center; /* Centra el texto del enlace */
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.content {
    padding: 60px 20px;
}

.container {
    width: 80%;
    max-width: 2500px;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.header-text {
    max-width: 60%;
}

.hours {
    font-weight: bold;
}

/* Estilos para "Nuestra Historia" */
.our-story h2,
.our-story p {
    font-family: 'Bradley Hand', cursive; /* Aplica la fuente Bradley Hand */
    font-style: italic; /* Pone el texto en cursiva */
}

.our-story {
    text-align: center;
    margin: 40px 0;
}

.our-story img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Estilos para el menú */
.menu {
    text-align: center;
    margin-top: 20px;
}

.menu h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Estilos para el carrusel de comidas */
.menu-item,
.menu-item-foods {
    width: 200px; /* Ancho fijo para los productos */
    margin-right: 20px; /* Espacio entre los productos */
    flex-shrink: 0; /* Evita que los productos se ajusten automáticamente */
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #ccc; /* Agrega un borde */
    border-radius: 8px; /* Añade bordes redondeados */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Agrega transición al efecto */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra por defecto */
}

.menu-item:hover,
.menu-item-foods:hover {
    transform: translateY(-5px); /* Aplica un efecto de levantamiento al poner el mouse encima */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Incrementa la sombra al poner el mouse encima */
}

.menu-item img,
.menu-item-foods img {
    width: 100%; /* Establece el ancho al 100% */
    max-height: 200px; /* Establece la altura máxima */
    object-fit: cover; /* Cubre el espacio asignado */
    border-top-left-radius: 8px; /* Agrega bordes redondeados solo a las esquinas superiores */
    border-top-right-radius: 8px;
}

.menu-item span,
.menu-item-foods span {
    display: block;
    padding: 10px;
    width: 100%;
    background-color: #f5f5f5; /* Agrega un fondo */
    border-bottom-left-radius: 8px; /* Agrega bordes redondeados solo a las esquinas inferiores */
    border-bottom-right-radius: 8px;
}

.price {
    font-weight: bold;
    color: #555;
}

/* Estilos para el carrusel de comidas */
.menu .carousel-container,
.menu .carousel-container-foods {
    position: relative;
    width: calc(200px * 4 + 20px * 3); /* Ancho para 4 productos y espacio entre ellos */
    overflow-x: auto; /* Permite desplazamiento horizontal */
    margin: auto;
    white-space: nowrap; /* Evita el salto de línea entre los productos */
   
    display: flex; /* Mostrar contenedor como flexbox */
    align-items: center; /* Centrar verticalmente */
}


.menu .carousel,
.carousel-foods {
   display: flex;
    gap: 0; /* Elimina cualquier espacio entre elementos */
    transition: transform 0.5s ease-in-out;
    padding: 10px; /* Agrega un poco de espacio alrededor del carrusel */
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.carousel-button.left {
    left: 10px;
}

.carousel-button.right {
    right: 10px;
}

/* Estilos para la sección de contacto */
.contact-section {
    text-align: center;
    margin: 40px 0;
}

.grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-info,
.contact-form {
    flex: 1;
    padding: 10px;
    min-width: 300px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.contact-info svg {
    margin-right: 10px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #555;
}

/* Estilos para el pie de página */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos específicos para "Nuestra Historia" */
.our-story-container {
    border-radius: 10px; /* Añade bordes redondeados */
    padding: 20px; /* Añade relleno al contenedor */
    margin-bottom: 40px; /* Añade margen inferior */
}

.our-story {
    text-align: center; /* Centra el contenido horizontalmente */
    margin-top: 50px; /* Espacio superior */
    padding: 20px; /* Espacio interno */
    background-color: #d3d3d3; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

.our-story .story-content {
    display: flex;
    flex-direction: row-reverse; /* Cambia la dirección de los elementos */
    align-items: center;
    justify-content: space-between;
}

.our-story img {
    max-width: 500px; /* Cambia el tamaño de la imagen */
    height: auto;
    border-radius: 8px;
    margin-left: 20px; /* Añade margen izquierdo */
}
